<!––Authour: Raja Naseer Ahmed Khan
    Class  : 2nd Year B.Sc Software Development
    email  :  g00351263@gmit.ie
->
<ion-header>

  <ion-navbar>
    <ion-title>camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgimg">
<br><br>
    <button (click)="takePhoto()" ion-button full round><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Take Photo</button>
    
    <ion-grid>
<ion-row>
  <ion-col col-6 *ngFor="let photo of photos; let id= index">
      <ion-card>
          <ion-icon name="trash" class="delIcon" (click)="delPhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo"/>
        </ion-card>
  </ion-col>
  </ion-row>
    </ion-grid>
    


</ion-content>
